.dropdown {
    font-family: "Inter", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown img {
    height: 20px;
}

.opened img {
    transform: rotate(180deg);
}

.dropdown-toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    min-width: 150px;
    background-color: var(--white-color);
    color: #333;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid var(--separator-color);
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    z-index: 2;
    min-width: 100%;
    top: 110%;
    text-align: center;
    background-color: var(--white-color);
    border-radius: 20px;
    border: 2px solid var(--separator-color);
    border-top: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    list-style: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #e9ecef;
}